<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/css/styles.css">
    <link rel="shortcut icon" href="/resources/img/LogoWIAC2025.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Admin</title>
</head>
<body>
    <h1 class="title">Editar</h1>
    <% if (user){%>
    <div class="ContainerFormEdit">
        <form  class="formEdit" action="/update" method="POST">
            
            <input class="form-control form-control-sm" id="id" name="id" value="<%= user.id%>" hidden>
        <div>
            <label for="firstName">First name(*):</label>
            <input class="form-control form-control-sm" type="text" id="firstName" name="firstName" placeholder="First Name" value="<%= user.firstname%>" autofocus>
            <span id="errorName" class="error-message"></span>
            <br>
        </div>
            <label for="lastname">Last name(*):</label>
            <input class="form-control form-control-sm" type="text" id="lastname" name="lastname" placeholder="Last Name" value="<%= user.lastname%>" autofocus>
            <span id="errorLastName" class="error-message"></span>
            <br>
            <label for="email">Email(*):</label>
            <input class="form-control form-control-sm" type="email" id="email" name="email" placeholder="Email" value="<%= user.email%>" autofocus>
            <span id="errorEmail" class="error-message"></span>
            <br>
            
            <label for="federation">Federation(*):</label>
            <select class="form-control form-control-sm" id="federation" name="federation" placeholder="Federation" required>
            <option value="" disabled selected>Select an option</option>
                <option <%= user.federation=='AAE' ? "selected" : "" %> value="AAE">AAE</option>
                <option <%= user.federation=='AAE' ? "selected" : "" %> value="AAE">AAE</option>
                <option <%= user.federation=='AATA' ? "selected" : "" %> value="AATA">AATA</option>
                <option <%= user.federation=='ABA' ? "selected" : "" %> value="ABA">ABA</option>
                <option <%= user.federation=='OBSV' ? "selected" : "" %> value="OBSV">OBSV</option>
                <option <%= user.federation=='RBA' ? "selected" : "" %> value="RBA">RBA</option>
                <option <%= user.federation=='GAA' ? "selected" : "" %> value="GAA">GAA</option>
                <option <%= user.federation=='AFB' ? "selected" : "" %> value="AFB">AFB</option>
                <option <%= user.federation=='BFAA' ? "selected" : "" %> value="BFAA">BFAA</option>
                <option <%= user.federation=='AC' ? "selected" : "" %> value="AC">AC</option>
                <option <%= user.federation=='ACH' ? "selected" : "" %> value="ACH">ACH</option>
                <option <%= user.federation=='AICC' ? "selected" : "" %> value="AICC">AICC</option>
                <option <%= user.federation=='CZ3D' ? "selected" : "" %> value="CZ3D">CZ3D</option>
                <option <%= user.federation=='EFAA' ? "selected" : "" %> value="EFAA">EFAA</option>
                <option <%= user.federation=='FAAE' ? "selected" : "" %> value="FAAE">FAAE</option>
                <option <%= user.federation=='FFAA' ? "selected" : "" %> value="FFAA">FFAA</option>
                <option <%= user.federation=='FFTL' ? "selected" : "" %> value="FFTL">FFTL</option>
                <option <%= user.federation=='DFBV' ? "selected" : "" %> value="DFBV">DFBV</option>
                <option <%= user.federation=='PAPG' ? "selected" : "" %> value="PAPG">PAPG</option>
                <option <%= user.federation=='HKFAA' ? "selected" : "" %> value="HKFAA">HKFAA</option>
                <option <%= user.federation=='HAA' ? "selected" : "" %> value="HAA">HAA</option>
                <option <%= user.federation=='IBA' ? "selected" : "" %> value="IBA">IBA</option>
                <option <%= user.federation=='FAAI' ? "selected" : "" %> value="FAAI">FAAI</option>
                <option <%= user.federation=='IFAF' ? "selected" : "" %> value="IFAF">IFAF</option>
                <option <%= user.federation=='FIARC' ? "selected" : "" %> value="FIARC">FIARC</option>
                <option <%= user.federation=='LAF' ? "selected" : "" %> value="LAF">LAF</option>
                <option <%= user.federation=='FAAFL' ? "selected" : "" %> value="FAAFL">FAAFL</option>
                <option <%= user.federation=='LAA' ? "selected" : "" %> value="LAA">LAA</option>
                <option <%= user.federation=='FLTA' ? "selected" : "" %> value="FLTA">FLTA</option>
                <option <%= user.federation=='FAAM' ? "selected" : "" %> value="FAAM">FAAM</option>
                <option <%= user.federation=='KHN' ? "selected" : "" %> value="KHN">KHN</option>
                <option <%= user.federation=='NZFAA' ? "selected" : "" %> value="NZFAA">NZFAA</option>
                <option <%= user.federation=='NIFAA' ? "selected" : "" %> value="NIFAA">NIFAA</option>
                <option <%= user.federation=='PTAF' ? "selected" : "" %> value="PTFA">PTFA</option>
                <option <%= user.federation=='PFAA' ? "selected" : "" %> value="PFAA">PFAA</option>
                <option <%= user.federation=='FABP' ? "selected" : "" %> value="FABP">FABP</option>
                <option <%= user.federation=='FRATF' ? "selected" : "" %> value="FRATF">FRATF</option>
                <option <%= user.federation=='KFAA' ? "selected" : "" %> value="KFAA">KFAA</option>
                <option <%= user.federation=='RAF' ? "selected" : "" %> value="RAF">RAF</option>
                <option <%= user.federation=='FSTA' ? "selected" : "" %> value="FSTA">FSTA</option>
                <option <%= user.federation=='SFAA' ? "selected" : "" %> value="SFAA">SFAA</option>
                <option <%= user.federation=='SAA' ? "selected" : "" %> value="SAA">SAA</option>
                <option <%= user.federation=='SANIFA' ? "selected" : "" %> value="SANIFA">SANIFA</option>
                <option <%= user.federation=='AAL' ? "selected" : "" %> value="AAL">AAL</option>
                <option <%= user.federation=='SFSF' ? "selected" : "" %> value="SFSF">SFSF</option>
                <option <%= user.federation=='FAAS' ? "selected" : "" %> value="FAAS">FAAS</option>
                <option <%= user.federation=='TTFAA' ? "selected" : "" %> value="TTFAA">TTFAA</option>
                <option <%= user.federation=='FUTARCO' ? "selected" : "" %> value="FUTARCO">FUTARCO</option>
                <option <%= user.federation=='NFAA' ? "selected" : "" %> value="NFAA">NFAA</option>
                <option <%= user.federation=='VAF' ? "selected" : "" %> value="VAF">VAF</option>
                <option <%= user.federation=='VIFAF' ? "selected" : "" %> value="VIFAF">VIFAF</option>
                <option <%= user.federation=='WFAA' ? "selected" : "" %> value="WFAA">WFAA</option>
                <option <%= user.federation=='AZA' ? "selected" : "" %> value="AZA">AZA</option>
            </select>
            <br>
            <label for="country">Country(*):</label>
            <input class="form-control form-control-sm" type="text" id="country" name="country" placeholder="Country" value="<%= user.country%>" autofocus>
            <span id="errorCountry" class="error-message"></span>
            <br>
            <label for="ageclass">Age Class(*)</label>
            <select class="form-control form-control-sm" id="ageclass" name="ageclass">
                <option <%= user.ageclass=='A' ? "selected" : "" %> value="A">Adult (A)</option>
                <option <%= user.ageclass=='C' ? "selected" : "" %> value="C">Cub (C)</option>
                <option <%= user.ageclass=='J' ? "selected" : "" %> value="J">Junior (J)</option>
                <option <%= user.ageclass=='S' ? "selected" : "" %> value="S">Senior (S)</option>
                <option <%= user.ageclass=='V' ? "selected" : "" %> value="V">Veteran (V)</option>
                <option <%= user.ageclass=='YA' ? "selected" : "" %> value="YA">Young Adult (YA)</option>
            </select>
            <br>
            <label for="gender">Gender(*)</label>
            <select class="form-control form-control-sm" id="gender" name="gender">
                <option <%= user.gender=='F' ? "selected" : "" %> value="F">Female (F)</option>
                <option <%= user.gender=='M' ? "selected" : "" %> value="M">Male (M)</option>
            </select>
            <br>
            <label for="bowtype">Bow Type(*)</label>
            <select class="form-control form-control-sm" id="bowtype" name="bowtype">
                <option <%= user.bowtype=='BB-C' ? "selected" : "" %> value="BB-C">Barebow Compound (BB-C)</option>
                <option <%= user.bowtype=='BB-R' ? "selected" : "" %> value="BB-R">Barebow Recurve (BB-R)</option>
                <option <%= user.bowtype=='BH-C' ? "selected" : "" %> value="BH-C">Bowhunter Compound (BH-C)</option>
                <option <%= user.bowtype=='BB-R' ? "selected" : "" %> value="BH-R">Bowhunter Recurve (BH-R)</option>
                <option <%= user.bowtype=='BL' ? "selected" : "" %> value="BL">Bowhunter Limited (BL)</option>
                <option <%= user.bowtype=='BU' ? "selected" : "" %> value="BU">Bowhunter Unlimited (BU)</option>
                <option <%= user.bowtype=='FS-C' ? "selected" : "" %> value="FS-C">Freestyle Limited Compound (FS-C)</option>
                <option <%= user.bowtype=='FS-R' ? "selected" : "" %> value="FS-R">Freestyle Limited Recurve (FS-R)</option>
                <option <%= user.bowtype=='FU' ? "selected" : "" %> value="FU">Freestyle Unlimited (FU)</option>
                <option <%= user.bowtype=='HB' ? "selected" : "" %> value="HB">Historical Bow (HB)</option>
                <option <%= user.bowtype=='LB' ? "selected" : "" %> value="LB">LongBow (LB)</option>
                <option <%= user.bowtype=='TR' ? "selected" : "" %> value="TR">Traditional Recurve Bow (TR)</option>
            </select>
            <br>
            <label for="target">Target type(*)</label>
            <select class="form-control form-control-sm" id="target" name="target" required>
                <option <%= user.target=='5' ? "selected" : "" %> value="5">5 spots</option>
                <option <%= user.target=='1' ? "selected" : "" %> value="1">1 spot</option>
            </select>
            <br>
            <div class="containerEditBtn">
                <button class="btn btn-primary btn-lg" type="submit">Editar</button>
                <a class="btn btn-danger btn-lg" href="/admin/form">Cancelar</a>
            </div>
        </form>
    </div>
    <% }%>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if(typeof alert != 'undefined') { %>
        <script>
            Swal.fire({
                    title:'<%= alertTitle %>',
                    text:'<%= alertMessage %>',
                    icon:'<%= alertIcon %>',
                    showConfirmaButton: '<%= showConfirmButton %>',
                    timer: '<%= timer %>',
                    }).then(()=>{
                window.location='/<%= ruta %>'
            })
            
        </script>
        <%}%>
    
    
</body>
</html>